
*{
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;  
}

.main-container
{
    background-image: url(../assets/fondo1.png);
    /* ctl + espacio para ver opcioones */
    height: 100vh; 
    background-size: cover;
    background-position: center;
    font-size: 26px;    
}

.pantallaimagen {
   
    padding: 0;
    min-height: 650px;
    min-width: 450px; 
    max-height: 1000px;
    max-width: 381px;
  }

  .pantallaimagen2 {
   
    padding: 0;
    min-height: 650px;
    min-width: 100px; 
    max-height: 1000px;
    max-width: 400px;
    
  
  }
  .pokePantalla {
    background-image: url("../assets/pokedex_izq.png");
    scale: 0.95;
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    
  }
  .pokePantalla2 {
    background-image: url("../assets/pokedex_der.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 0.95;
    
  }

  .pos-img{
      width: 150px;
      height: 149px;
    margin-left: 27%;
    margin-top: -3%;
    overflow: hidden;
}
.nombre{
    margin-top:36%;
    margin-left: -10%;
    
    
}
.numero{
    margin-top: 4%;
    margin-left: -15%;
    

}
.boton{
    margin-left: -21%;
    margin-top: 15%;
    width: 40%;
   
    
}


.info
{    
    margin-top: 48%;
    margin-left: 12%;
     width: 350px;
    height: 160px;
     overflow: auto;
     font-size: 25px;
     
}
.apodo{
    margin-top: 0;
    margin-left: 12%;
    font-size: 35px;
    color: rgb(245, 242, 254);
    
}
.posicion-type {
    margin-top: -5%;
    margin-left: 12%;
    

}
.posicion-tipo{
    margin-top: -7%;
    margin-left: 5%; 
}



